[Unit]
Description=RPS Strategy server
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/var/www/production/henhen1227/api-rps.henhen1227.com
EnvironmentFile=/var/www/production/henhen1227/api-rps.henhen1227.com/.env
ExecStart=/var/www/production/henhen1227/api-rps.henhen1227.com/rps-server-arm64

Restart=always
RestartSec=3s
KillSignal=SIGTERM
TimeoutStopSec=15s
UMask=0007

NoNewPrivileges=true
PrivateTmp=true
ProtectHome=true
ProtectSystem=strict
ReadWritePaths=/var/www/production/henhen1227/
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
