RPS_UNIX_SOCKET=/var/www/production/henhen1227/rps-henhen1227-backend.sock
RPS_DATABASE_PATH=/var/www/production/henhen1227/api-rps.henhen1227.com/rps-strategy.sqlite
RPS_ALLOWED_ORIGINS=https://rps.henhen1227.com
